body {
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

#main {
  overflow-y: scroll;
}

img {
  width: 100%;
}

text {
  color: black;
}

h1 {
  font-family: "Comfortaa", cursive;
  color: black;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  color: black;
}

h4 {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
}

a {
  font-family: "Quicksand", sans-serif;
}

p {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  color: black;
  /* font-family: "Montserrat", sans-serif; */
}

/** splash **/

#landing-page .splash-container {
  position: relative;
}

#landing-page .splash-container h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

#landing-page .splash-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("img/scala.jpg");
}

#landing-page .splash-middle {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

.logo-img {
  width: 300px;
}

.splash-container a {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.splash-container svg {
  width: 50px;
  height: 50px;
}

.credit {
  position: absolute;
  left: 1vw;
  bottom: 1vh;
}

.credit p {
  font-size: 1.5rem;
  color: white;
  opacity: 50%;
}

/** animation fra https://codepen.io/StrengthandFreedom/pen/zajxqd **/

.bounce {
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

/** nav **/

ul {
  list-style-type: none;
}

.menu {
  transform: translateY(-200%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #1d1c19;
  transform-origin: top;
  list-style-type: none;
  padding-top: 50px;
  top: 0;
  z-index: 1000;
}

.menu a {
  margin-top: 40px;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.menuknap {
  font-size: 2em;
  cursor: pointer;
  display: none;
  /* position: fixed; */
  /* top: 4vw;
  right: 5vw; */
  z-index: 1001;
}

.sticky {
  position: fixed;
  top: 4vw;
  right: 5vw;
  display: block;
  animation: sticky_kf 0.1s linear;
}

@keyframes sticky_kf {
  0% {
    transform: translateX(10vh);
  }
  100% {
    transform: translateX(0);
  }
}

.whiten {
  color: white;
}

.showmenu {
  transform: translateY(0%);
  transition: 0.5s;
}

.bodyHidden {
  overflow: hidden;
}

/** info **/

#info .img-container {
  height: 300px;
  margin: 0 auto;
  margin: 40px 0 20px 0;
}

#info .img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0 0 15px;
}

#info h2 {
  margin: 0 0 -20px 40px;
  z-index: 100;
}

.text {
  background-color: #e7e8e3;
  padding: 20px 10px 20px 20px;
  margin-bottom: 100px;
}

#info .wrapper {
  background-color: #f2a6a6;
  margin-bottom: 100px;
}

/** arrangementer **/

.eventsplash-img {
  width: 100%;
  filter: grayscale(1);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("img/Artboard_2.png");
}

.parallax p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: white;
  font-style: italic;
  transform: translate(-50%, -50%);
}

#events h1 {
  margin-bottom: 40px;
}

#events h2 {
  margin: 0 0 -20px 40px;
  z-index: 100;
}

#events .img-container {
  width: 100%;
  margin: 40px 0 20px 0;
  position: relative;
}

#events .img-container img {
  width: 100%;
  margin: 0 0 15px;
  z-index: 100;
}

#events .color-container {
  width: 100%;
  height: 90%;
  left: 0;
  top: 5%;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-left: -10px;
  position: absolute;
  z-index: -100;
}

#events .color-container1 {
  background-color: #c3d092;
}

#events .color-container2 {
  background-color: #92c4d0;
  padding: 0;
}

#events .color-container3 {
  background-color: #c992d0;
}

/** social **/

.social-header {
  display: flex;
  flex-wrap: nowrap;
}

.social-header img {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 20px 0 0 10px;
}

#social h1 {
  margin-bottom: 40px;
}

.insta3,
.insta4,
.insta5 {
  display: none;
}

.social-button {
  margin-top: 10px;
  margin-bottom: 50px;
  height: 50px;
  font-size: 2rem;
  line-height: 50px;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.social-button:hover {
  cursor: pointer;
}

.line {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.social {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* .grid {
  display: grid;
  grid-template-columns: 20vw 20vw 32.8vw;
  grid-template-rows: 40vh 40vh 20vh;
  grid-template-areas:
    "insta1 insta2 insta3"
    "insta4 insta5 insta3";

  width: 100%;
  column-gap: 15px;
  row-gap: 20px;
} */

/** footer **/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

.map_container {
  height: 50vh;
  width: 100%;
  contain: content;
}

#map1 {
  height: 100%;
  position: inherit;
  overflow: visible;
}

/* Optional: Makes the sample page fill the window.
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

#footer .img-container {
  margin: 0 auto;
  margin: 40px 0 20px 0;
}

#footer .img-container img {
  width: 100%;
  margin: 0 0 15px;
}

#footer {
  background-color: #1d1c19;
  color: white;
}

#footer .insta-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 20px 0 0 0;
}

#footer p {
  color: white;
}

.copyright {
  width: 100vw;
  height: 60px;

  text-align: center;
}

.copyright p {
  font-size: 0.7rem;
}

@media only screen and (min-width: 768px) {
  #landing-page .splash-middle .splash-text {
    width: 500px;
  }

  #landing-page .splash-container h1 {
    text-align: inherit;
  }

  #info .row {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #info h1 {
    margin: 0 0 -20px 60px;
  }

  #info h2 {
    margin-top: 100px;
  }

  #info .img-container img {
    height: 400px;
  }

  #info > div > div.wrapper > div > div.drink.img-container.col-md-5.col-md-push-1 > img {
    height: 100%;
  }

  /** events **/

  #events h1 {
    margin-top: 20px;
  }

  #events .splash-img {
    width: 100%;
    height: 500px;
    object-fit: cover;

    background-image: url("img/Artboard_2.png");
  }

  #events h2 {
    margin: 0 0 -20px 60px;
  }

  #events .color-container {
    width: 95%;
    margin-left: -1px;
  }

  #events .color-container2 {
    margin-left: 50px;
  }

  #events .event-text {
    margin-top: 40px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-areas:
      "insta1 insta2 insta5"
      "insta3 insta4 insta5";

    width: 600px;
    margin: 0 auto;
    column-gap: 15px;
    row-gap: 20px;
  }

  .insta3,
  .insta4,
  .insta5 {
    display: block;
  }

  .insta {
    overflow: hidden;
  }

  .insta5 {
    grid-column: 3;
    grid-row: 1/3;
    overflow: hidden;
  }

  .insta5 img {
    height: 100%;
  }

  .social-button {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .social-link {
    height: 50px;
    width: 200px;
    font-size: 2rem;
    color: black;
  }
  /* .social-container {
    display: flex;
    flex-wrap: wrap;
  } */

  #footer {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  #footer p {
    font-size: 1.5rem;
  }

  #footer .container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer-div {
    padding: 10px;
    /* margin: 0 10px 0 10px; */
    flex-grow: 1;
    flex-basis: 200px;
  }

  .footer-div:nth-child(5) {
    flex-grow: 2;
    flex-basis: 300px;
  }

  #footer .img-container {
    flex-grow: 1;
    flex-basis: 250px;
  }

  #footer .img-container {
    margin: 10px 0 0 0;
    padding: 10px;
    padding-right: 40px;
  }

  #footer .insta-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 20px 0 0 0;
  }
}

@media only screen and (min-width: 1000px) {
  #events .container {
    margin-bottom: 100px;
  }

  #events .row {
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
  }
  #events .img-container {
    width: 400px;
    margin: 0 0 0 0;
  }

  #events .img-container img {
    width: 450px;
    height: 300px;
  }

  #events .color-container2 {
    margin-left: 100px;
  }
  .parallax {
    /* The image used */
    /* background-image: url("img/scala.jpg"); */

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax p {
    font-size: 3rem;
  }

  .grid {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .insta {
    height: 300px;
    margin-bottom: 20px;
  }

  .insta img {
    height: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-device-width: 1000px) {
  .parallax {
    background-attachment: scroll;
  }
}

.caroAnimation {
  animation: caro_kf 6s linear forwards;
}

@keyframes caro_kf {
  0% {
    opacity: 0%;
    transform: translate(-45%, -45%);
  }

  30% {
    opacity: 100%;
  }

  50% {
  }

  80% {
    opacity: 100%;
    transform: translate(-50%, -45%);
  }
  100% {
    opacity: 0%;
    transform: translate(-51%, -45%);
  }
}
