body {
  background-color: #f7f7f7;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
}

h4 {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
}

p {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}

/** splash **/

#landing-page .splash-container {
  position: relative;
}

#landing-page .splash-container h1 {
  color: white;
  font-size: 5rem;
}

#landing-page .splash-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(1);
}

#landing-page .splash-middle {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

.logo-img {
  width: 300px;
}

/** info **/

#info .img-container {
  height: 300px;
  margin: 0 auto;
  margin: 40px 0 20px 0;
}

#info .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 0 15px;
}

#info h1 {
  margin: 0 0 -20px 40px;
}

.text {
  background-color: #e7e8e3;
  padding: 20px 10px 20px 10px;
  margin-bottom: 100px;
}

/** arrangementer **/

#events .splash-img img {
  width: 100%;
  filter: grayscale(1);
}

#events h1 {
  margin-bottom: 40px;
}

#events h2 {
  margin: 0 0 -20px 40px;
}

#events .img-container {
  width: 100%;
  margin: 40px 0 20px 0;
}

#events .img-container img {
  width: 100%;
  margin: 0 0 15px;
  z-index: 100;
}

/* #events .color-container {
  background-color: red;
  width: 90vw;
  height: 200px;
  position: absolute;
  margin-left: -10px;
  margin-top: 30px;
  z-index: -100;
} */

/** social **/

#social h1 {
  margin-bottom: 40px;
}

.social-button {
  margin-top: -10px;
  height: 50px;
  font-size: 2rem;
  line-height: 50px;
  text-align: center;
  color: black;
  border: 2px solid black;
}

.line {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.social {
  margin-top: 40px;
  margin-bottom: 40px;
}

/** footer **/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

.map_container {
  height: 50vh;
  width: 100%;
  contain: content;
}

#map1 {
  height: 100%;
  position: inherit;
  overflow: visible;
}

/* Optional: Makes the sample page fill the window.
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

#footer .img-container {
  margin: 0 auto;
  margin: 40px 0 20px 0;
}

#footer .img-container img {
  width: 100%;
  margin: 0 0 15px;
}

#footer {
  background-color: #1d1c19;
  color: white;
}
